<header>
    <div class = 'left'></div>
    <div class = 'center banner'>Welcome to Scraper</div>
    <div class = 'right'>
        <div class = 'btn scrape'>Scrape!</div>
    </div>
</header>
<div class = 'content'>
    <ul>
        {{#each}}
        <li>
            {{articles}}
        </li>
        {{/each}}
    </ul></div>
<footer>Scraper Inc<br>2019</footer>